* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.container {
  margin: 20px, auto;
  width: 1000px;
}
.row {
  display: flex;
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  display: none;
}
.the-draw .the-stand {
  display: none;
}
.the-draw .the-stand:before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
}

.hangman-draw .the-hang:before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-hang {
  display: none;
}
.hangman-draw .the-hang:after {
  content: "";
  position: absolute;
  height: 30px;
  background-color: #222;
  width: 4px;
  left: 130px;
  top: 15px;
}
.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  display: none;
}
.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 104px;
  top: 55px;
  display: none;
}
.hangman-draw .the-man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 103px;
  left: 130px;
  display: none;
}
.hangman-draw .the-man .hands {
  display: none;
}
.hangman-draw .the-man .hands:before {
  content: "";
  width: 50px;
  position: absolute;
  left: 85px;
  transform: rotate(30deg);
  height: 4px;
  background-color: #222;
  top: 130px;
}
.hangman-draw .the-man .hands:after {
  content: "";
  width: 50px;
  position: absolute;
  left: 130px;
  transform: rotate(-30deg);
  height: 4px;
  background-color: #222;
  top: 130px;
}
.hangman-draw .the-man .legs {
  display: none;
}
.hangman-draw .the-man .legs:before {
  content: "";
  width: 50px;
  position: absolute;
  left: 85px;
  transform: rotate(-30deg);
  height: 4px;
  background-color: #222;
  top: 220px;
}
.hangman-draw .the-man .legs:after {
  content: "";
  width: 50px;
  position: absolute;
  left: 130px;
  transform: rotate(30deg);
  height: 4px;
  background-color: #222;
  top: 220px;
}
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
}
.letters .letter-box.clicked {
  opacity: 0.5;
  pointer-events: none;
}
.letter-guess {
  text-align: center;
}
.letter-guess span {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  background-color: #009688;
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.letter-guess span.space {
  position: relative;
}
.letter-guess span.space:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: white;
  left: 7.5px;
  top: 18px;
  z-index: 100;
}
.screen {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #009688;
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 40px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letters span.finish {
  pointer-events: none;
}
